# Python
.states/
.git/
.venv/
venv/
__pycache__/
*.pyc

# Secrets
.env
.env.local

# Logs
*.log

# Exclude ALL of .web EXCEPT the pre-built static files
.web/*
!.web/build/
.web/build/*
!.web/build/client/
